<p id="notice"><%= notice %></p>

<h1>To do</h1>

<table>
  <thead>
    <tr>
      <th>Content </th>
      <th>State</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @to_do %>
    </tbody>
</table>

<br>

<h1>On Progress</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <%= render @on_progress %>
   
  </tbody>
</table>

<br>

<h1>Accomplished</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @accomplished %>
  </tbody>
</table>


<br>

<%= link_to 'New Task', new_task_path %>
