<div class="row">

	<div class="col-md-4">
		<h1 class="text-center">To do</h1>
			<div class="panel panel-info">	
				<div class="panel-heading">My Todo</div>


				<% @to_do.each do |task| %>
      <tr>
        <td><%= task.content %></td>
        <td><%= task.state %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
				<div class="panel-footer text-center">doing</div>
			</div>
	</div>

	<div class="col-md-4">
		<h1 class="text-center">Doing</h1>
			<div class="panel panel-info">	
				<div class="panel-heading">doing</div>
				<div class="panel-body">Working on Codeplace</div>
				<div class="panel-footer text-center">change state</div>
			</div>
	</div>

	<div class="col-md-4">
		<h1 class="text-center">Done</h1>
			<div class="panel panel-info">	
				<div class="panel-heading">Done</div>
				<div class="panel-body">Looking back</div>
				<div class="panel-footer text-center">change state</div>
			</div>

	</div>

</div>